<template data-template-wrapper="layout-public.html" data-param--page="{{ 'page.admin-login.label' | trans }}">
    <div class="bg-light h-100" data-controller="admin-auth--login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <form data-admin-auth--login-target="form" data-action="admin-auth--login#submitAuthentication">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Login
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-danger" role="alert" data-admin-auth--login-target="error" hidden></div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="InputLoginEmail" type="email" name="username">
                                    <label for="InputLoginEmail">Email address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="InputLoginPassword" type="password" name="password">
                                    <label for="InputLoginPassword">Password</label>
                                </div>
                                <div class="text-end py-3">
                                    <button class="btn btn-primary" type="submit" name="submitLogin">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
