{% extends 'layout-public.html.twig' %}

{% set fullPageHeader = true %}
{% set documentTitle = 'page.home.title' | trans %}
{% set documentDescription = 'page.home.description' | trans %}

{% block contents %}
	
	HOME PAGE CONTENTS
	{#    <div class="container py-5"> #}
	{#        <div class="block-info mb-5 py-5 px-4"> #}
	{#            <div class="row"> #}
	{#                <div class="col-12 col-sm-4 col-xl-3 mb-4 mb-sm-0"> #}
	{#                    <img class="img-fluid rounded" src="{{ asset('assets/img/home/news-updated-resume.png') }}" alt=""/> #}
	{#                </div> #}
	{#                <div class="col-12 col-sm-8 col-xl-9"> #}
	{#                    <p class="fs-5 m-0">{{ 'page.home.introduction' | trans | nl2br }}</p> #}
	{#                </div> #}
	{#            </div> #}
	{#        </div> #}
	{#    </div> #}
{% endblock %}
