security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

            form_login:
                # "login" is the name of the route created previously
                login_path: so_core_admin_login
                check_path: so_core_admin_login
                enable_csrf: true
                default_target_path: so_core_admin_home
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 172800 # 2 days
                path: /
                always_remember_me: true
            logout:
                # Intercept logout when getting to "path" route
                path: so_core_security_logout
                # After logged out, redirect user to the "target" route
                target: home


    # https://symfony.com/doc/current/security.html#hierarchical-roles
    role_hierarchy:
        ROLE_CONTRIBUTOR: ROLE_USER
        ROLE_ADMIN: ROLE_CONTRIBUTOR
        ROLE_DEVELOPER: ROLE_ADMIN

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/developer/, roles: ROLE_DEVELOPER }
        - { path: ^/admin/, roles: ROLE_CONTRIBUTOR }
        - { path: ^/api/me(/|$), roles: ROLE_USER }
        - { path: ^/user(/|$), roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
