{#- --
kind: fragment
label: "Top menu"
description: "Top menu for a page"
version: 1
properties:
    items:
      type: list
      items:
          type: object
          properties:
              name: string
              label: string
              target: string
parameters:
    active: string # Name of item to get active

-- -#}
{#
@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\Fragment fragment
#}
{% extends 'frontend/fragment.html.twig' %}

{% set active = parameters.active | default(null) %}

{% block contents %}
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
            {#            <a class="navbar-brand d-md-none" href="#"> #}
            {#                <svg class="bi" width="24" height="24" aria-hidden="true"> #}
            {#                    <use xlink:href="#aperture"></use> #}
            {#                </svg> #}
            {#                Aperture #}
            {#            </a> #}
            {#            TODO Use real template data #}
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header"><h5 class="offcanvas-title" id="offcanvasLabel">{{ 'app.label' | trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ 'action.close' | trans }}"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        {%- for item in fragment.properties.items -%}
                            <li class="nav-item"><a class="nav-link{% if item.name == active %} active{% endif %}" href="{{ item.target }}">{{ item.label }}</a></li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
