{#- --
kind: fragment
label: "Basic Article"
description: "Basic Article with rich content"
purpose: article
version: 1
properties:
    content: rich_text
files:
    image: article_main=image/*
-- -#}
{#
@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\Fragment fragment
#}
{% extends 'frontend/fragment.html.twig' %}

{%- block contents -%}
    <div class="mx-2 mx-md-4 mb-3">
        <img src="{{ fragment.files.image | fileUrl }}" class="img-fluid" alt="">
    </div>

    {{- fragment.properties.content | richText | raw -}}
{%- endblock -%}
