{% extends 'template-admin-page.html.twig' %}

{% block controller 'admin--dashboard' %}
{% block label 'page.admin-dashboard.label' | trans %}

{% block content %}
    {#    <h2>Dashboard</h2> #}
    <p>Empty dashboard for now</p>
{% endblock %}
