{#- --
kind: fragment
label: "Article Archive list Widget"
description: "Widget of list of archives months of article"
purpose: widget
item: article
version: 1
properties:
    title: "?string"
    limit: int
    itemCriteria: query_criteria
    route:
        type: object
        properties:
            path: string # See FragmentRoute.path. E.g. "/article/{year}/{month}/"
            label: string # Twig format string
-- -#}
{#
@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\Fragment fragment
@var \App\Entity\PublicationFragment[] items
#}
{% extends 'frontend/fragment.html.twig' %}

{% set items = fragment.properties.route | criteria | list %}

{%- block contents -%}
    <div class="p-4 d-flex flex-column shadow-sm border border-light-subtle">
        {%- if fragment.properties.title is defined -%}
            <h4 class="mb-3">{{ fragment.properties.title }}</h4>
        {%- endif -%}
        {% for item in items %}
            <div class="d-flex mb-3">
                <div class="flex-grow-1">
                    <a class="link-dark text-decoration-none" href="{{ item.path }}">
                        <h6>{{- item.label -}}</h6>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{%- endblock -%}
