/*
@import "~bootstrap/scss/bootstrap";
*/

$color-primary: $primary;
$color-primary-darker: darken($color-primary, 5%);
$color-light: $light;

$spacing-properties: ("p": "padding", "m": "margin");
$sides: ("x": ("left", "right"), "y": ("top", "bottom"), "t": ("top"), "r": ("right"), "b": ("bottom"), "l": ("left"));
$block-border-radius: .5rem;


/* Bootstrap extract START */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
}

.h1, h1 {
  font-size: 1.875rem;
}

.h2, h2 {
  font-size: 1.5rem;
}

.h3, h3 {
  font-size: 1.3125rem;
}

.h4, h4 {
  font-size: 1.125rem;
}

.h5, h5 {
  font-size: .9375rem;
}

.h6, h6 {
  font-size: .75rem;
}

table {
  border-collapse: collapse;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Bootstrap extract END */

body {
  margin: 0;
  padding: 0;
  color: $body-color;
  background: $body-bg;
}

body, table {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

small, .small {
  font-size: 80%;
  font-weight: 400;
}

img {
  display: block;
}

table.center, td.center {
  text-align: center;
}

.width-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;

  color: $color-primary;
}

a:focus, a:hover {
  color: $color-primary-darker;
  text-decoration: underline;
}

@each $propertyKey, $propertyName in $spacing-properties {
  @each $sizeKey, $sizeValue in $spacers {
    .#{$propertyKey}-#{$sizeKey} {
      #{$propertyName}: $sizeValue;
    }
    @each $sideKey, $sidesValues in $sides {
      .#{$propertyKey}#{$sideKey}-#{$sizeKey} {
        @each $sidesValue in $sidesValues {
          #{$propertyName}-#{$sidesValue}: $sizeValue;
        }
      }
    }
  }
}

.display-block {
  display: block;
}

.color-grey {
  color: #777777 !important;
}

.btn-email {
  //display: inline-block;
  //width: 100%;
  padding: 1rem 2rem;
  border-radius: $block-border-radius;
}

.panel {
  display: block;
  border-radius: $block-border-radius;
  background: $color-primary;
  color: $white;
  //border: 1px solid $color-primary;
  //color: $color-primary;
}

table.body {
  height: 100%;
  width: 100%;

  background: $color-light;
}

.container {
  width: 600px;
  margin: 0 auto;
  text-align: inherit;

  &.content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: .5rem;
  }
}

.header {
  border-bottom: 1px solid #eeeeee;

  td {
    padding: 1rem;
  }

  .logo {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;

    img {
      display: inline;
      width: 3rem;
    }
  }

}

//.content td {
//  padding: 16px;
//}

.footer {
  //padding: 16px;
  background-color: #fafafa !important;
  font-size: 12px;
}
