/*!
 * App Admin Style
 */

@import "symfony.scss";

/*
@import "packages/sb-admin-variables";

@import "admin/variables";

@import "bootstrap/scss/bootstrap";
@import "simple-datatables/src/style.css";

@import "packages/sb-admin-style";
*/
