/*!
 * App Admin Style
 */

@import "_core.scss";

/*
 @import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";

@import "admin/variables";

@import "packages/so-core/components";
@import "packages/so-core/features";
@import "packages/so-core/widgets";

@import "admin/style";
*/
