/*!
 * ADOX : ADmin toolbOX Provides tools to manage features on public pages
 */

.adox-container .adox-toolbox {
    position: absolute;
    top: 30vh;
    left: 0;
    z-index: 10100;
    border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;

    &:not(:hover) {
        opacity: 0.6;
    }
}
