{#
Fragment template for Page

@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\PublicationFragment fragment
@var string|null title
#}
{% extends 'document-web.html.twig' %}

{% block title %}{{ 'app.pageTitle' | trans({page: title | default(fragment.title)}) }}{% endblock %}

{% block body %}
    {{- slot('menu_top') | fragment({active: fragment.route.menuName}) | raw -}}
    <div class="fragment fragment-page template-{{ template.name }}">
        {%- block contents %}{% endblock -%}
    </div>
{% endblock %}
