{#
Fragment template for Single Article Page

@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\Article article
#}
{% extends 'document-web.html.twig' %}

{# {% set bsTheme = 'dark' %} #}

{% block title %}{{ 'app.pageTitle' | trans({page: article.title}) }}{% endblock %}

{% block body %}
    <div class="article">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-11">
                    {{- article.fragment | fragment | raw -}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
