{#
Fragment template for page template

@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\Fragment fragment
#}
{% extends 'document-web.html.twig' %}

{% block title %}{{ 'app.pageTitle' | trans({page: page.title}) }}{% endblock %}

{% block body %}
    <div class="fragment fragment-page template-{{ template.name }}">
        {%- block contents %}{% endblock -%}
    </div>
{% endblock %}
