{#
Fragment template for Page

@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\Fragment fragment
@var \App\Entity\Page page
#}
{% extends 'document-web.html.twig' %}

{% set bsTheme = 'dark' %}

{% block title %}{{ 'app.pageTitle' | trans({page: page.title}) }}{% endblock %}

{% block body %}
    {{- fragment.children.topmenu | fragment({active: page.menuName}) | raw -}}
    <div class="fragment fragment-page template-{{ template.name }}">
        {%- block contents %}{% endblock -%}
    </div>
{% endblock %}
