{#- --
kind: fragment
label: "Article Page"
description: "Page with single article"
purpose: page
routing: single_item
version: 1
item: article
children:
    rightColumn: widget
-- -#}
{#
@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\PublicationFragment fragment
@var \App\Entity\PublicationFragment item
#}
{% extends 'frontend/fragment-page.html.twig' %}

{%- block contents -%}
    {# TODO Non-published case #}
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col col-lg-8">
                {{- item | fragment | raw -}}
            </div>
            <div class="col col-lg-4">
                {{- fragment.children.rightColumn | fragment | raw -}}
            </div>
        </div>
    </div>
{%- endblock -%}
